.area {
    position: absolute;
    bottom: 5px;
    z-index: 99;
}

.scrollshadowContainer {
    -ms-scroll-snap-destination: 0 0;
    scroll-snap-destination: 0 0;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;

    .containerSnap {
        scroll-snap-align: center;
        scroll-snap-stop: always;
    }
}

@media only screen and (max-width: 600px) {
    .area {
        width: 100%;
    }
    .scrollshadowContainer {
        min-width: 100%;
        height: 270px;
    }
    .cardContainer {
        height: 270px;
        .cardHeader {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    .cardBody {
        -webkit-line-clamp: 2;
    }
}

@media only screen and (min-width: 600px) {
    .area {
        left: 25vw;
        max-width: 50vw;
    }
    .scrollshadowContainer {
        max-width: 50vw;
        height: 325px;
    }
    .cardContainer {
        height: 325px;
        .cardHeader {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
    .cardBody {
        -webkit-line-clamp: 3;
    }
}

.scrollshadowContainer {
    -ms-scroll-snap-destination: 0 0;
    scroll-snap-destination: 0 0;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;

    .containerSnap {
        scroll-snap-align: center;
        scroll-snap-stop: always;
    }
}

.ratingsContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    .alpContainer {
    }
    .tlnContainer {
    }
    .btlContainer {
    }
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cardContainer {
    padding: 25px 10px 35px 10px;
    margin: 10px;
    display: flex;

    .cardBody {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        padding-top: 0px;
        margin-bottom: 18px;
    }
    .cardFooter {
        margin-bottom: 10px;
    }
}
